body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #800080, #0000FF); 
    background-size: 1920px 1080px;

    color: white;
}

#restaurantes-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e1cdfa; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000; 
}

#restaurantes-container h1{
    color: #000000; 
    text-align: center;
}

#restaurantes-container label {
    font-size: 16px; 
    color: #000000; 
    display: block;
    margin-bottom: 5px;
}

#restaurantes-container input[type="number"] {
    text-align: center;
    width: 100%; 
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #800080; 
    border-radius: 4px;
}

#restaurantes-container input[type="checkbox"] {
    margin-right: 5px;
}

#restaurantes-container #generateBtn {
    background-color: #800080; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#restaurantes-container p#rests {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #000000; 
}

#restaurantes-container button {
    margin-top: 15px;
    background-color: #8a2be2; 
    color: #fff;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#restaurantes-container button:hover {
    background-color: #7d29c4; 
}

